.card-content{
  display: flex;

  &--transform{
    flex-direction: row-reverse;

    .card-content__header-image{
      background-image: url("../images/desktop/image-transform.jpg");
    }

    .card-content__detail-title{
      max-width: 290px;
    }

    .card-content__detail-link::after{
      background-color: $yellow;
    }
  }

  &--standout{
    flex-direction: row;

    .card-content__header-image{
      background-image: url("../images/desktop/image-stand-out.jpg");
    }

    .card-content__detail-link::after{
      background-color: $soft-red;
      
    }
  }
  
  &__header {
    width: 50%;
    &-image {
      height: 75vh;
      background-size: cover;
      background-position: center;    
    }

  }

  &__detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    gap: 3rem;

    max-width: 50%;
    width: 100%;
    padding-inline: 10rem;

    &-title{
      max-width: 350px;
      width: 100%;
      color: $very-dark-desaturate-blue;
    }

    &-paragraf{
      color: $dark-grayish-blue;
    }

    &-link {
      position: relative;
      font-size: 1.5rem;
      font-size: 900;
      font-family: $font-Fraunces;
      text-transform: uppercase;
      text-decoration: none;
      color: $very-dark-desaturate-blue;

      &::after {
        content: "";
        height: 1rem;
        left: -.4rem;
        bottom: -.3rem;
        position: absolute;
        width: 115px;
        border-radius: 1rem;
        opacity: .4;
        transition: opacity 0.5s ease-in;
        }

        &:hover::after{
          opacity: 1;
          z-index: -1;
      }
    }

  }
}